<div>
    <p class="mt-4 fw-bolder">Order Summary</p>
    <div class="border_bottom">
        <div class="d-flex justify-content-between">
            <p>Item(s) total:</p>
            <p>{{ calculateTotalSalary() | currency:'GBP':'symbol'}}</p>
        </div>
        <div class="d-flex justify-content-between">
            <p>Item(s) discount:</p>
            <p class="Color_orange fw-bold">-£170.04</p>
        </div>
    </div>
    <div #paymentRef></div>
    <div class="d-flex justify-content-between mt-4">
        <p>Total <span>({{LengthAllProduct}} items)</span></p>
        <p>£265.88</p>
    </div>
    <button
        class="rounded-5 w-100 m-auto d-block p-3 BackGroundOrange text-light fw-bold border-0">CheckOut(14)</button>
    <p class="Colo_gray mt-2"><i class="fa-solid fa-exclamation text-center style_icon"></i>tem availability and pricing
        are not guaranteed until payment is final.</p>
    <div class="mt-5">
        <p><i class="fa-solid fa-lock text-success fs-5 p-1"></i>You will not be charged until you review this order on
            the next page</p>

        <p><i class="fa-solid fa-chess-queen text-success fs-5 p-1"></i>Safe Payment Options</p>


        <div>
            <p class="text-success m-0">Temu is committed to protecting your payment information.</p>
            <p class="m-0 text-body-tertiary"> We follow PCI DSS standards, use strong encryption, </p>
            <p class="m-0 text-body-tertiary">and perform regular reviews of its system to protect your privacy.</p>
        </div>


        <div>
            <p>1. Payment methods</p>
            <div>
                <img class="payment_width_img ms-2"
                    src="assets/imges/ec0c5d69-1717-4571-a193-9950ec73c8af.png.slim.webp" />
                <img class="payment_width_img ms-2"
                    src="assets/imges/da7f463a-916f-4d91-bcbb-047317a1c35e.png.slim.webp" />
                <img class="payment_width_img ms-2"
                    src="assets/imges/b79a2dc3-b089-4cf8-a907-015a25ca12f2.png.slim.webp" />
                <img class="payment_width_img ms-2"
                    src="assets/imges/936bf9dc-9bb2-4935-9c5a-a70b800d4cf1.png.slim.webp" />
                <img class="payment_width_img ms-2"
                    src="assets/imges/3f39097d-e751-4891-af08-41b63ebc876e.png.slim.webp" />
                <img class="payment_width_img ms-2"
                    src="assets/imges/fb599a1d-6d42-49f2-ba7a-64b16d01b226.png.slim.webp" />
            </div>

            <div class="mt-1">
                <img class="payment_width_img ms-2"
                    src="assets/imges/bcb8bf23-78c9-45ab-b480-f7020d1a5f66.png.slim.webp" />
                <img class="payment_width_img ms-2"
                    src="assets/imges/28a227c9-37e6-4a82-b23b-0ad7814feed1.png.slim.webp" />
                <img class="payment_width_img ms-2"
                    src="assets/imges/f1c00d04-7dde-4d4a-ae3d-b8aad2de8f96.png.slim.webp" />
                <img class="payment_width_img ms-2"
                    src="assets/imges/65e96f45-9ff5-435a-afbf-0785934809ef.png.slim.webp" />
                <img class="payment_width_img ms-2"
                    src="assets/imges/52656b9f-5cb7-416f-8e12-f8cb39d3b734.png.slim.webp" />
            </div>
        </div>

        <div>
            <p><i class="fa-solid fa-lock text-success fs-5 p-1 mt-1"></i>Secure privacy</p>
        </div>
    </div>
</div>