.width{
    width: 15%;
}

.flex_property{
    display: flex;
    justify-content: center;
}

.category_product ul li {
    z-index: 9999999999;
    border: 1px solid black;

}

.category_product ul li::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #deac16;
    color: white;
    z-index: -1;
    transition: 0.3s linear;
}

.active{
    background-color: #deac16;
}

.category_product ul li:hover::before{
  width: 100%;
    color: white;
}




@media (min-width:320px) and (max-width:767px){
    .flex_property{
        flex-wrap: wrap;
    }
    .width{
        width: 50%;
    } 
}

@media (min-width:767px) and (max-width:1200px){
    .width{
        width: 25%;
        flex-wrap: wrap;
    } 
    .flex_property{
        flex-wrap: wrap;
    }
}

@media (min-width:1200px) and (max-width:1400px){
    .width{
        width: 50%;
    } 
}