
.width_col_two{
 border-left: 1px solid rgb(160, 158, 158);
}


.product_header_fashion .fa-bag-shopping{
    font-size: 20px;
}

/* .col_hover{
    transition: 0.5s linear;
}

.col_hover:hover{
    box-shadow: 0 0 20px black;
} */

.text_right{
    text-align: right;
}
.pointer{
    cursor: pointer !important;
}

