<div class="row overflow-hidden">
    <div class="width_col_one">
        <app-header></app-header>
        <div class="Container">
            <app-tabs-products></app-tabs-products>

            <div class="product_header_fashion row  mb-3">
                <div class="col-sm-6 col-md-6 col-xl-2 col_hover mt-2 mb-4" *ngFor="let item of filterFashionCategory" data-aos="zoom-in"  data-aos-delay="500">
                    <img class="w-100" [src]="item?.image" />
                    <div class="d-flex justify-content-around mt-2">
                        <span>{{item?.description}}....</span>
                        <i (click)="AddtoCart(item)" class="fa-solid fa-bag-shopping   ps-3 pe-3 pt-1"></i>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                        <p (click)="AddWishList(item)" class="text_right pointer d-block" [ngClass]="{'red': item.colorWishList}"><i class="fa-solid fa-heart fs-4"></i></p>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>

    <div class="width_col_two bg-light content_shopping_cart overflow-hidden">
        <app-sup-total></app-sup-total>
    </div>
</div>